header{
    display: block;
    background-color: #F70404;
    width:100%;
}

header h1{
    color: #FAF6F6;
    text-transform: uppercase;
    text-align: left;
    width:7%;
    display:inline-block;
}

header a{
    color: #FAF6F6;
    text-align: left;
    text-decoration: none ;
    margin-right: 20px;
}

header nav{
    text-align: right;
    display:inline-block;
    width:60%;
}

header ul{
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: center;
}

header ul li{
    display: inline-block;
}

header a{
    text-decoration: none !important;
    color: #FAF6F6;
    font-size: 20px;
}

form {
    width: 750px !important;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    background:  whitesmoke ;
}

.contenedorImg{
    width: 200px;
    height: 200px;
}

.imagen{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

form label{
    font-size: 18px;
}

form input{
    margin-top: 6px !important;
}

.row{
    margin-top: 15px !important;
}

.redondear{
    border-radius: 20px !important;
}

.sizeRadio{
    font-size: 20px !important;
    margin-right: 5px;
}