<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- REFERENCE TO OUR CSS FILE -->
  <link rel=StyleSheet href="../static/css/styles.css" type="text/css" media=screen>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>

<body>
  <header>
    <h1>logo</h1>
    <a href="../index.html">INICIO</a>
    <a href="cartelera.html">CARTELERA</a>
    <!-- <a href="#">TEATROS</a> -->
    <a href="confiteria.html">CONFITERIA</a>
    <nav>
      <ul>
        <li><a href="registro.html">REGISTRARSE</a></li>
        <li><a href="ingresar.html">INGRESAR</a></li>
        <li><a href="#"></a></li>
      </ul>
    </nav>
  </header>

  <!-- ================================ CARDS ========================================== -->

  <div class="containerMain" style="margin-top: 20px;">
    
    <div class="card">
      <img src="../static/img/cartelera1.jpeg" alt="Avatar" style="width:100%">
      <div class="containerCards">
        <h4><b>LOS INCREIBLES 2</b></h4>
        <p>Infantil</p>
      </div>
    </div>

    <div class="card">
      <img src="../static/img/cartelera2.jpg" alt="Avatar" style="width:100%">
      <div class="containerCards">
        <h4><b>RAMPAGE</b></h4>
        <p>Publico +16</p>
      </div>
    </div>

    <div class="card">
      <img src="../static/img/cartelera3.jpg" alt="Avatar" style="width:100%">
      <div class="containerCards">
        <h4><b>BRAVE</b></h4>
        <p>Infantil</p>
      </div>
    </div>

    <div class="card">
      <img src="../static/img/cartelera4.webp" alt="Avatar" style="width:100%">
      <div class="containerCards">
        <h4><b>JUNGLE CRUISE</b></h4>
        <p>Publico +16</p>
      </div>
    </div>
  </div>

</body>
<script src={{ url_for('static', filename='js/nombre.js' ) }}></script>
</html>

<!-- REFERENCE TO OUR SCRIPT FILE -->
<script src="../static/js/script.js"></script>