<!DOCTYPE html>
<html lang="en">

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <!-- REFERENCE TO OUR CSS FILE -->
      <link rel=StyleSheet href="../static/css/main.css" type="text/css" media=screen>
    
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Confiteria</title>
    </head>

<body>
  <header>
    <h1> Logo </h1>
    <a href= "../index.html"> INICIO </a>
    <a href= "# "> CARTELERA </a>
    <a href= "# "> TEATROS </a>
    <a href= "confiteria.html"> CONFITERIA </a>
    <nav>
      <ul>
        <li><a href="registro.html">REGISTRARSE</a></li>
        <li><a href="#">INGRESAR</a></li>
        <li><a href="#">Img</a></li>
      </ul>
    </nav>
  </header>

<form action="confiteria.html"><br>
  <label for="fname">  BUSCAR EN:</label>
  <input type="text" id="fname" name="fname" value=" Bogotá">
  <label for="lname">  CINE:</label>
  <input type="text" id="lname" name="lname" value="Floresta">
  <input type="submit" value="Buscar">
</form> 
<img src="../static/img/confiteria.jpg" alt="escoge el combo que desees" width="1350" height="1000">


</body>
</html>